{% extends 'stock/base.html' %}

{% load static %}


{% block title %}
About
{% endblock title %}


{% block main %}
<div class="container text-center">
    <div class="d-flex p-2 justify-content-center">
        <div class="d-flex flex-column">
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Cras nisi id nostra at litora. Anostra placerat
                    fermentum turpis malesuada diam. Ornare eros neque et, luctus magnis amet. In tristique nostra
                    vulputate
                    urna magnis lacus. Hendrerit velit sapien augue himenaeos est nostra vivamus ultricies. Mollis
                    gravida
                    ligula risus phasellus blandit risus ipsum sem nam. Nam convallis ligula morbi sociosqu dui luctus
                    cras.
                    Lectus ac tellus venenatis nam quis arcu platea leo. Facilisis scelerisque bibendum scelerisque
                    iaculis,
                    tristique ut elementum hac sodales.

                    Accumsan convallis leo risus orci diam cras pellentesque. Ipsum arcu senectus magna quis cras, ex
                    inceptos volutpat. Duis malesuada aliquet vel iaculis proin cubilia primis. Pretium nunc ullamcorper
                    et;
                    urna nullam bibendum egestas. Est tristique ac nibh mus nunc facilisi. Egestas praesent viverra nam
                    curabitur ex magnis risus. Euismod id mollis suspendisse eros iaculis class sollicitudin viverra.
                    Diam
                    nam eleifend vel eu faucibus montes. Fringilla pretium vivamus cursus leo non porta. Torquent leo
                    sagittis fusce est quam aliquet sociosqu a.

                    Diam suspendisse praesent vestibulum mauris tortor donec sociosqu vivamus facilisis. Per iaculis
                    nisi
                    urna eu sed tristique ipsum suscipit iaculis. Sem mauris at porttitor mollis placerat. Aelementum
                    suspendisse gravida iaculis magnis ullamcorper in leo. Accumsan duis molestie dignissim odio
                    bibendum
                    potenti magnis eros. Etiam duis ipsum luctus taciti tincidunt posuere consectetur taciti erat. Massa
                    ligula litora; ac eros congue pharetra. Quis aliquet aptent orci ad vestibulum class.</p>
        </div>
    </div>
</div>F
{% endblock main %}